@import "//at.alicdn.com/t/c/font_3764728_ygh6wgv0md.css";

.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }